<!doctype html>
<html>

<head>
    <title>21 Savage Fan Site</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <section class="container">
        <section class="page-header text-center">
            <h1>Orders Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <!-- <a href="/" class="btn btn-default btn-sm">Home</a> -->
            <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        </section>
    </section>

    <section class="container text-center plantMain">

        <!-- LOCAL INFORMATION -->
        <section class="row">
            <section class="col-sm-4 plantBoxes">
                
            </section>
            <% for(let i=0; i<myWorkLogs.length; i++) {%>
                <section class="col-sm-4 " id="<%=myWorkLogs[i]._id%>">
                    <section id="<%=myWorkLogs[i].starred%>">
                        <h3>
                            Date: <%= myWorkLogs[i].date %>
                        </h3>
                        <h3>Workout Time:</h3>
                        <span>
                            <%= myWorkLogs[i].workoutHours %> hrs
                        </span>
                        <span>
                            <%= myWorkLogs[i].workoutMinutes %> mins
                        </span>
                        <!-- <img class="plantpic"  src="img/plant-icon.gif" alt="generic plant image"> -->
                        <h3>Routine:</h3>
                        <p>
                            <%= myWorkLogs[i].workoutRoutine %>
                        </p>
                        <h3>Notes/Improvements:</h3>
                        <p>
                            <%= myWorkLogs[i].workoutNotes %>
                        </p>

                        <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                        <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>

                    </section>

                </section>
                <% } %>




        </section>

    </section>

    <script src="/main.js"></script>

</body>

</html>