<!doctype html>
<html>
<head>
    <title>Journal Entries</title>
    <link rel="stylesheet" href="css/partner.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fruktur&family=Rubik+Glitch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/partner.css">

</head>
<body id="post">
<div class="container">

    <div class="page-header text-center">
        <a href="/profile">Profile</a>
        <a href="/feed">Feed</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

       
        <div class="col-sm-6">
          <h3>Journal Entries</h3>
          <ul class="messages">
          <% for(var i=0; i<journalEntries.length; i++) {%>
            <li class="message">
              <h4>Date:<%= journalEntries[i].date %></h4>
              <h4>Stress Rate:<%= journalEntries[i].stressLevel %></h4>
              <h4>Note:<%= journalEntries[i].note %></h4>
                <h4>Emotion:<%= journalEntries[i].emotion %></h4>
                  <h4>DailyPost:<%= journalEntries[i].dailyPost %></h4>
              

            </li>
          <% } %>
          </ul>


</div>

<script src="main.js"></script>

</body>
</html>